* {
	box-sizing: border-box;
}

body {
	background: #cccccc;
}

.canvas {
	width: 1000px;
	height: 656px;
	margin: 100px auto;
	background: white;
	position: relative;
}

.paper{
	position: absolute;
	width: 950px;
	height: 720px;
	background: #ff4385;
	top: -10px;
	left:30px;
	-webkit-clip-path: polygon(0 67%, 65% 67%, 100% 83%, 34% 83%);
clip-path: polygon(0 67%, 65% 67%, 100% 83%, 34% 83%);
}

#pine {
	top: 400px;
	left: 460px;
	position: absolute;
	display:block;
	width: 126px;
	height: 150px;
	background-color: #f9ae00;
	-webkit-border-radius: 63px 63px 63px 63px / 108px 108px 72px 72px;
	border-radius:         50%  50%  50%  50%  / 60%   60%   40%  40%;
}

#leaf {
	position: absolute;
	left: 425px;
	top: 300px;
	width: 210px;
	height: 280px;
	background: green;
	-webkit-clip-path: polygon(50% 0%, 53% 19%, 63% 9%, 57% 24%, 66% 16%, 51% 43%, 32% 21%, 44% 29%, 38% 11%, 47% 22%);
clip-path: polygon(50% 0%, 53% 19%, 63% 9%, 57% 24%, 66% 16%, 51% 43%, 32% 21%, 44% 29%, 38% 11%, 47% 22%);
}

#leaf1 {
	transform: rotate(-15deg);
	position: absolute;
	left: 415px;
	top: 300px;
	width: 210px;
	height: 280px;
	background: green;
	-webkit-clip-path: polygon(50% 0%, 53% 19%, 63% 9%, 57% 24%, 66% 16%, 51% 43%, 32% 21%, 44% 29%, 38% 11%, 47% 22%);
clip-path: polygon(50% 0%, 53% 19%, 63% 9%, 57% 24%, 66% 16%, 51% 43%, 32% 21%, 44% 29%, 38% 11%, 47% 22%);
}

#leaf2 {
	transform: rotate(15deg);
	position: absolute;
	left: 430px;
	top: 300px;
	width: 210px;
	height: 280px;
	background: green;
	-webkit-clip-path: polygon(50% 0%, 53% 19%, 63% 9%, 57% 24%, 66% 16%, 51% 43%, 32% 21%, 44% 29%, 38% 11%, 47% 22%);
clip-path: polygon(50% 0%, 53% 19%, 63% 9%, 57% 24%, 66% 16%, 51% 43%, 32% 21%, 44% 29%, 38% 11%, 47% 22%);
}

#leaf3 {
	position: absolute;
	left: 425px;
	top: 260px;
	width: 210px;
	height: 280px;
	background: green;
	-webkit-clip-path: polygon(50% 0%, 53% 19%, 63% 9%, 57% 24%, 66% 16%, 51% 43%, 32% 21%, 44% 29%, 38% 11%, 47% 22%);
clip-path: polygon(50% 0%, 53% 19%, 63% 9%, 57% 24%, 66% 16%, 51% 43%, 32% 21%, 44% 29%, 38% 11%, 47% 22%);
}

#leaf4 {
	transform: rotate(-15deg);
	position: absolute;
	left: 415px;
	top: 260px;
	width: 210px;
	height: 280px;
	background: green;
	-webkit-clip-path: polygon(50% 0%, 53% 19%, 63% 9%, 57% 24%, 66% 16%, 51% 43%, 32% 21%, 44% 29%, 38% 11%, 47% 22%);
clip-path: polygon(50% 0%, 53% 19%, 63% 9%, 57% 24%, 66% 16%, 51% 43%, 32% 21%, 44% 29%, 38% 11%, 47% 22%);
}

#leaf5 {
	transform: rotate(15deg);
	position: absolute;
	left: 430px;
	top: 220px;
	width: 210px;
	height: 280px;
	background: green;
	-webkit-clip-path: polygon(50% 0%, 53% 19%, 63% 9%, 57% 24%, 66% 16%, 51% 43%, 32% 21%, 44% 29%, 38% 11%, 47% 22%);
clip-path: polygon(50% 0%, 53% 19%, 63% 9%, 57% 24%, 66% 16%, 51% 43%, 32% 21%, 44% 29%, 38% 11%, 47% 22%);
}

#leaf6 {
	position: absolute;
	left: 425px;
	top: 220px;
	width: 210px;
	height: 280px;
	background: green;
	-webkit-clip-path: polygon(50% 0%, 53% 19%, 63% 9%, 57% 24%, 66% 16%, 51% 43%, 32% 21%, 44% 29%, 38% 11%, 47% 22%);
clip-path: polygon(50% 0%, 53% 19%, 63% 9%, 57% 24%, 66% 16%, 51% 43%, 32% 21%, 44% 29%, 38% 11%, 47% 22%);
}

#leaf7 {
	transform: rotate(-15deg);
	position: absolute;
	left: 415px;
	top: 220px;
	width: 210px;
	height: 280px;
	background: green;
	-webkit-clip-path: polygon(50% 0%, 53% 19%, 63% 9%, 57% 24%, 66% 16%, 51% 43%, 32% 21%, 44% 29%, 38% 11%, 47% 22%);
clip-path: polygon(50% 0%, 53% 19%, 63% 9%, 57% 24%, 66% 16%, 51% 43%, 32% 21%, 44% 29%, 38% 11%, 47% 22%);
}

#leaf8 {
	transform: rotate(15deg);
	position: absolute;
	left: 430px;
	top: 260px;
	width: 210px;
	height: 280px;
	background: green;
	-webkit-clip-path: polygon(50% 0%, 53% 19%, 63% 9%, 57% 24%, 66% 16%, 51% 43%, 32% 21%, 44% 29%, 38% 11%, 47% 22%);
clip-path: polygon(50% 0%, 53% 19%, 63% 9%, 57% 24%, 66% 16%, 51% 43%, 32% 21%, 44% 29%, 38% 11%, 47% 22%);
}

.flower{
	position: absolute;
	left:95px;
}

#bird{
	position: absolute;
	left: 330px;
	width: 280px;
	height: 280px;
	background: #fc6106;
	-webkit-clip-path: polygon(48% 3%, 54% 15%, 68% 3%, 57% 29%, 83% 11%, 60% 53%, 9% 19%, 50% 38%, 28% 12%, 49% 23%);
	clip-path: polygon(48% 3%, 54% 15%, 68% 3%, 57% 29%, 83% 11%, 60% 53%, 9% 19%, 50% 38%, 28% 12%, 49% 23%);
}

#stem {
	position: absolute;
	top: 143px;
	left: 480px;
	width: 90px;
	height: 350px;
	background: #838515;
	transform: rotate(-6deg);
	-webkit-clip-path: polygon(38% 0, 45% 0, 46% 100%, 38% 100%);
	clip-path: polygon(38% 0, 45% 0, 46% 100%, 38% 100%);
}

.vase {
	opacity: .7;
	top: 310px;
	left: 550px;
	position: absolute;
}


#bowl {
	position: absolute;
   display:block;
   width: 126px;
   height: 140px;
   background-color: green;
   -webkit-border-radius: 63px 63px 63px 63px / 108px 108px 72px 72px;
   border-radius:         50%  50%  50%  50%  / 60%   60%   40%  40%;
   top: 70px;
}

#middle{
	position: absolute;
	width: 99px;
	height: 100px;
	background: green;
	left:14px;
	top: 2px;
	-webkit-clip-path: polygon(37% 0, 64% 0, 100% 100%, 0 100%);
	clip-path: polygon(37% 0, 64% 0, 100% 100%, 0 100%);
}


#neck {
	position: absolute;
	width: 27px;
	height: 40px;
	background: green;
	left: 50px;
	top: -35px;
}

#ball{
	position: absolute;
	top: 320px;
	left: 200px;
	width: 200px;
	height: 200px;
	background: #f0eeec;
	-webkit-clip-path: circle(50% at 50% 50%);
clip-path: circle(50% at 50% 50%);
}


